@import url("communs.css");

#titre {
    text-align: center;
    font-weight: bold;
}

#graph {
    display: flex;
    justify-content: center;
    align-items: center;
}

#graph img {
    margin: 20px;
    height: 500px;
    width: auto;
}

h2 {
    background-color: var(--couleur-0);
    color: white;
    text-align: center;
}