@import url("communs.css");

#galerapagos {
    width: 100%; /* Définit la largeur de l'image à 100% de la largeur de son conteneur */
    height: auto; /* Garde le ratio de l'image */
    display: block; /* Assure que l'image est affichée comme un bloc */
  }